{:source-paths ["src"]
 :dependencies [[appliedscience/js-interop "0.2.5"]
                [lambdaisland/uri "1.3.45"]]
 :builds {:app {:target :node-library
                :exports {:handler server.main/handler}
                :output-dir "target"
                :output-to "target/main.js"}}}
