.cpcache
.yarn
.nrepl-port
.shadow-cljs
.clj-kondo
.lsp
.store

*.iml
*.DS_Store
*.crt
*.key
*.jar
*.conf
*.log
*.zip
**/.aws-sam

node_modules
target
classes

resources/**/*.html
resources/**/*.css
resources/public/js/**

**/.*.config.edn
.db
TODO.md
dev/scratch
cloudflare-mailer/*.pem
cloudflare-mailer/*.txt
cloudflare-mailer/.dev.vars
.calva/output-window/output.calva-repl
.calva/output-window/**
