{:paths ["src"
         "classes"
         "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.0-alpha4"}

        ;; v2
        datalevin/datalevin {:mvn/version "0.8.21"}
        io.github.mhuebert/re-db {:git/sha "db43109983156bf12adfdac38134b91f782179cd"}
        io.github.mhuebert/yawn {:git/sha "68285f6c132f26a2ff3cc2f7dffc3fe68c9856d9"}
        io.github.mhuebert/inside-out {:git/sha "6f8a4f4413f344d59da2ed55ddb1a0e9090c30b7"}

        ;; Google Cloud
        com.google.firebase/firebase-admin {:mvn/version "6.13.0"}

        ;; util
        metosin/jsonista {:mvn/version "0.3.7"}
        yogsototh/clj-jwt {:mvn/version "0.3.0"}
        clj-http/clj-http {:mvn/version "3.12.3"}
        lambdaisland/uri {:mvn/version "1.13.95"}
        commons-codec/commons-codec {:mvn/version "1.15"}
        applied-science/js-interop {:mvn/version "0.4.2"}
        clojure.java-time/clojure.java-time {:mvn/version "1.2.0"}
        dev.weavejester/medley {:mvn/version "1.5.0"}
        clj-gatling/clj-gatling {:mvn/version "0.17.6"}
        com.taoensso/tempura {:mvn/version "1.5.3"}
        amazonica/amazonica {:mvn/version "0.3.134"}
        com.sksamuel.scrimage/scrimage-core {:mvn/version "4.0.34"}
        com.sksamuel.scrimage/scrimage-webp {:mvn/version "4.0.34"}
        backtick/backtick {:mvn/version "0.3.4"}

        ;; logging
        com.taoensso/timbre {:mvn/version "4.10.0"}
        timbre-ns-pattern-level/timbre-ns-pattern-level {:mvn/version "0.1.2"}
        com.fzakaria/slf4j-timbre {:mvn/version "0.3.19"}

        ;; http server
        ring/ring-core {:mvn/version "1.10.0"}
        ring/ring-defaults {:mvn/version "0.3.4"}
        ring-oauth2/ring-oauth2 {:mvn/version "0.2.0"}
        ring-middleware-format/ring-middleware-format {:mvn/version "0.7.4"}
        ring-basic-authentication/ring-basic-authentication {:mvn/version "1.1.0"}
        metosin/ring-http-response {:mvn/version "0.9.1"}
        buddy/buddy-auth {:mvn/version "3.0.1"}
        buddy/buddy-sign {:mvn/version "3.4.333"}
        http-kit/http-kit {:mvn/version "2.6.0"}
        bidi/bidi {:mvn/version "2.1.6"}
        metosin/reitit {:mvn/version "0.5.2"}
        mhuebert/cljs-static {:mvn/version "0.1.0"}
        metosin/muuntaja {:mvn/version "0.6.8"}
        uberdeps/uberdeps {:mvn/version "1.1.4"}
        com.lambdaworks/scrypt {:mvn/version "1.4.0"}
        markdown-clj/markdown-clj {:mvn/version "1.11.4"}

        ;; schema
        metosin/malli {:mvn/version "0.11.0"}
        com.gfredericks/test.chuck {:mvn/version "0.2.10"}

        nrepl/nrepl {:mvn/version "0.9.0"}

        ;; client
        funcool/promesa {:mvn/version "10.0.571"}
        babashka/process {:mvn/version "0.4.16"}
        mhuebert/kitchen-async {:mvn/version "0.1.0"}
        mhuebert/triple {:mvn/version "0.1.0"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}
        reagent/reagent {:mvn/version "1.1.1"}
        thheller/shadow-cljs {:mvn/version "2.25.7"}
        net.clojars.wkok/openai-clojure {:mvn/version "0.5.0"}}
 :aliases
 {:uberjar {:exec-fn sb.build/uberjar}
  :aot {:exec-fn sb.build/aot}
  :compile-java {:deps {io.github.clojure/tools.build {:mvn/version "0.9.4"}}
                 :ns-default dev.tools-build}
  :dev {:extra-deps {cider/cider-nrepl {:mvn/version "0.30.0"}}}
  :local {:extra-deps {io.github.mhuebert/re-db {:local/root "../re-db"}
                       io.github.mhuebert/yawn {:local/root "../yawn"}
                       io.github.mhuebert/inside-out {:local/root "../inside-out"}}}
  ;; needed for datalevin
  :nio {:jvm-opts ["--add-opens=java.base/java.nio=ALL-UNNAMED"
                   "--add-opens=java.base/sun.nio.ch=ALL-UNNAMED"]}}}
