{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.10.1"}

        org.sparkboard/lambda {:local/root "lambda"}
        org.sparkboard/bridge {:local/root "bridge"}

        ;; juxt on postgres
        juxt/crux-core {:mvn/version "20.03-1.8.0-alpha"}
        juxt/crux-jdbc {:mvn/version "20.03-1.8.0-alpha"}
        org.postgresql/postgresql {:mvn/version "42.2.11"}

        ;; Google Cloud PubSub
        jonotin {:local/root "vendor/jonotin"}
        com.google.guava/guava {:mvn/version "22.0"}        ;; resolves version conflict

        ;; system
        mount {:mvn/version "0.1.16"}

        ;; environment/config
        aero {:mvn/version "1.1.5"}
        mhuebert/shadow-env {:mvn/version "0.1.6"}

        ;; util
        org.bovinegenius/exploding-fish {:mvn/version "0.3.6"}
        metosin/jsonista {:mvn/version "0.2.5"}
        mhuebert/kitchen-async {:mvn/version "0.1.0"}
        net.cgrand/macrovich {:mvn/version "0.2.1"}
        yogsototh/clj-jwt {:mvn/version "0.3.0"}
        com.taoensso/timbre {:mvn/version "4.10.0"}

        ;; http server
        ring/ring-jetty-adapter {:mvn/version "1.8.1"}
        ring/ring-defaults {:mvn/version "0.3.2"}
        bidi {:mvn/version "2.1.6"}
        ring-middleware-format {:mvn/version "0.7.4"}
        metosin/ring-http-response {:mvn/version "0.9.1"}
        
        ;; frontend
        thheller/shadow-cljs {:mvn/version "2.9.3"}
        mhuebert/triple {:mvn/version "0.1.0"}
        mhuebert/cljs-static {:mvn/version "0.1.0"}

        ;; schema
        metosin/malli {:mvn/version "0.0.1-SNAPSHOT"}
        }}
