{:source-paths ["src"]
 :dependencies [[mhuebert/triple "0.1.0"]
                [mhuebert/cljs-static "0.1.0"]
                [mhuebert/kitchen-async "0.1.0"]
                [lambdaisland/uri "1.3.45"]
                [net.cgrand/macrovich "0.2.1"]
                [metosin/reitit "0.5.2"]]
 :nrepl {:write-port-file true}
 :builds
 {:web
  {:target :browser
   :modules {:app {:init-fn org.sparkboard.client/init}}
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :devtools {:preloads [triple.view.react.preload]}}}}

#_(shadow/watch :web)
#_(shadow/stop-worker :web)
#_(shadow/release :web)
