{:deps true
 :nrepl {:write-port-file true}
 :builds
 {:web
  {:target :browser
   :modules {:app {:init-fn org.sparkboard.client/init}}
   :output-dir "resources/public/js/compiled"
   :asset-path "/js/compiled"
   :devtools {:preloads [triple.view.react.preload]}}}}

#_(shadow/watch :web)
#_(shadow/stop-worker :web)
#_(shadow/release :web)
