{:deps {:aliases [:nio :dev]}
 :builds
 {:web
  {:target :browser
   :module-loader true
   :modules {:app {:init-fn sparkboard.client.core/init}
             :slack {:entries [sparkboard.client.slack]
                     :depends-on #{:app}}}
   :output-dir "resources/public/js/"
   :asset-path "/js"
   :devtools {:preloads [yawn.view.refresh-preload]
              :watch-dir "resources/public"}
   :dev {:build-hooks [(sparkboard.build/tailwind-dev!)]}
   :release {:build-hooks [(sparkboard.build/tailwind-release!)]}}}}

(comment
  (shadow/watch :web)
  (shadow/stop-worker :web)
  (shadow/release :web))
