@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    h3 {
        @apply text-lg font-semibold leading-6
    }

    :root {
        --font-sans: ui-sans-serif;
        --background: 0 0% 100%;
        --foreground: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 47.4% 11.2%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 100% 50%;
        --destructive-foreground: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
    }

    @media (prefers-color-scheme: dark) {
        body {
            --background: 224 71% 4%;
            --foreground: 213 31% 91%;

            --muted: 223 47% 11%;
            --muted-foreground: 215.4 16.3% 56.9%;

            --popover: 224 71% 4%;
            --popover-foreground: 215 20.2% 65.1%;

            --card: 0 0% 100%;
            --card-foreground: 222.2 47.4% 11.2%;

            --border: 216 34% 17%;
            --input: 216 34% 17%;

            --primary: 210 40% 98%;
            --primary-foreground: 222.2 47.4% 1.2%;

            --secondary: 222.2 47.4% 11.2%;
            --secondary-foreground: 210 40% 98%;

            --accent: 216 34% 17%;
            --accent-foreground: 210 40% 98%;

            --destructive: 0 63% 31%;
            --destructive-foreground: 210 40% 98%;

            --ring: 216 34% 17%;

            --radius: 0.5rem;
        }
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}
@layer utilities {
    .px-body {
        @apply px-2 sm:px-6
    }

    .py-body {
        @apply py-2 sm:py-6
    }

    .p-body {
        @apply p-2 sm:p-6
    }
}
@layer components {

    .gap-body {
        @apply gap-2 sm:gap-6
    }

    .gray-link {
        @apply underline underline-offset-4 hover:text-black px-1
    }

    .form-text {
        @apply
        flex h-10 w-full rounded-md border border-input bg-transparent px-3 py-2
        text-sm ring-offset-background placeholder:text-muted-foreground
        disabled:cursor-not-allowed disabled:opacity-50
    }

    input.form-text {
        @apply h-10
    }

    textarea.form-text {
        @apply h-20
    }

    .btn {
        @apply
        inline-flex items-center justify-center cursor-pointer
        font-medium transition-colors disabled:opacity-50 disabled:pointer-events-none
        rounded-md px-3 focus-visible:outline-none text-sm no-underline
    }

    .btn-light {
        @apply
        ring-offset-background border
        hover:border-primary/30 focus-visible:border-primary/30
        text-primary
    }

    .btn-primary {
        @apply
        ring-offset-background bg-primary text-primary-foreground
        hover:bg-primary/90 focus-visible:bg-primary/90
        disabled:bg-primary
    }

    .btn-transp {
        @apply
        hover:bg-black/10 focus-visible:bg-black/10
    }

    .outline-default {
        @apply
        focus-visible:outline-primary
        focus-visible:outline-2
        focus-visible:outline-offset-0
        focus-visible:outline
    }

    .outline-invalid {
        @apply
        outline
        outline-destructive
        outline-2
        outline-offset-0
    }
    .entity-header {
        @apply
         border-b border-secondary px-body py-3 gap-3 flex items-stretch
    }
    .header-title {
        @apply items-center hidden sm:inline-flex flex-grow
    }
    .card-grid {
        @apply grid grid-cols-4 gap-body text-card-foreground p-body
    }
}