@tailwind base;
@tailwind components;
@tailwind utilities;

#radix-modal {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
}


@layer base {

    .prose {
        font-size: inherit !important;
        line-height: inherit !important;
        color: inherit !important;
    }

    .prose a {
        @apply font-normal underline decoration-2 decoration-primary/30 hover:decoration-primary/50 text-primary
    }

    h3 {
        @apply text-lg font-semibold leading-6
    }

    :root {
        --font-sans: ui-sans-serif;
        --back: 0 0% 100%;
        --txt: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-txt: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-txt: 222.2 47.4% 11.2%;

        --card: 0 0% 100%;
        --card-txt: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-txt: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-txt: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-txt: 222.2 47.4% 11.2%;

        --destructive: 0 94% 65%;
        --destructive-txt: 210 40% 98%;

        --ring: 215 20.2% 65.1%;

        --radius: 0.5rem;
        /* dark red */
        --badge: 0 63% 31%;
        /* white */
        --badge-txt: 0 0% 95%;
    }

    /* @media (prefers-color-scheme: dark) {
        body {
            --back: 0 0 51%;
            --txt: 211 21% 76%;

            --muted: 223 47% 11%;
            --muted-txt: 0 0 20%;

            --popover: 224 71% 4%;
            --popover-txt: 215 20.2% 65.1%;

            --card: 0 0% 40%;
            --card-txt: 0 0% 95%;

            --border: 216 34% 17%;
            --input: 216 34% 17%;

            --primary: 210 40% 98%;
            --primary-txt: 222.2 47.4% 1.2%;

            --secondary: 222.2 47.4% 11.2%;
            --secondary-txt: 210 40% 98%;

            --accent: 216 34% 17%;
            --accent-txt: 210 40% 98%;

            --destructive: 0 63% 31%;
            --destructive-txt: 210 40% 98%;

            --ring: 216 34% 17%;

            --radius: 0.5rem;
        }
    } */
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-back text-txt;
        font-feature-settings: "rlig" 1, "calt" 1;
    }
}

@layer utilities {
    .text-white a {
        color: white;
        text-decoration-color: rgba(255, 255, 255, 0.7);
    }

    .text-white a:hover {
        color: white;
        text-decoration-color: rgba(255, 255, 255, 1);
    }

    .px-body {
        @apply px-2 sm:px-6
    }

    .py-body {
        @apply py-2 sm:py-6
    }

    .p-body {
        @apply p-2 sm:p-6
    }

    .mx-body {
        @apply mx-2 sm:mx-6
    }

    .my-body {
        @apply my-2 sm:my-6
    }

    .m-body {
        @apply m-2 sm:m-6
    }

    .rotate-4s {
        animation: rotation 4s infinite linear;
    }

    .rotate-3s {
        animation: rotation 3s infinite linear;
    }

    .rotate-2s {
        animation: rotation 2s infinite linear;
    }

}

@layer components {
    /* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
    .auto-size {
        @apply grid
    }

    .auto-size > :not(textarea) {
        @apply whitespace-pre-wrap invisible
    }

    .auto-size > textarea {
        @apply resize-none overflow-hidden
    }

    .auto-size > * {
        grid-area: 1 / 1 / 2 / 2;
    }

    .gap-body {
        @apply sm:gap-6
    }

    .gray-link {
        @apply underline underline-offset-4 hover:text-black px-1
    }

    .form-text {
        @apply
        flex w-full rounded px-3 py-2 placeholder-gray-400

        bg-back
        outline
        outline-gray-300 focus:outline-blue-500
        outline-1 focus:outline-2
        outline-offset-0 focus:outline-offset-0

        border-none focus:border-none

        text-sm
        disabled:cursor-not-allowed disabled:opacity-50
    }

    .btn {
        @apply
        inline-flex items-center justify-center cursor-pointer
        font-medium text-base
        transition-colors disabled:opacity-50 disabled:pointer-events-none
        rounded-md px-3 focus-visible:outline-none no-underline

    }

    .btn-light {
        @apply
        ring-offset-back
        border border-primary/10 hover:bg-black/5  focus-visible:border-primary/60
        text-primary/80
        rounded-lg
        inline-flex items-center justify-center py-1 px-3
    }

    .btn-primary {
        @apply
        ring-offset-back bg-primary text-primary-txt
        hover:bg-primary/90 focus-visible:bg-primary/90
        disabled:bg-primary
    }

    .btn-base {
        @apply
        text-base
        px-4 py-2
    }

    .btn-transp {
        @apply
        hover:bg-black/10 focus-visible:bg-black/10
    }

    .outline-default {
        @apply
        outline-primary/20
        focus-visible:outline-primary/30
        focus-visible:outline-2
        focus-visible:outline-offset-0
        focus-visible:outline
    }

    .outline-invalid {
        @apply
        outline
        outline-destructive
        outline-2
        outline-offset-0
    }

    .entity-header {
        @apply
        bg-muted border-b border-secondary px-body gap-3 flex h-16 p-3 items-stretch
    }

    .entity-header h3 {
        @apply items-center hidden sm:inline-flex
    }

    .card-grid {
        @apply
        grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5
        gap-body text-card-txt divide-y sm:divide-none
    }

    .loading-bar {
        background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(84 157 255), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        background-size: 200% 100%;
        animation: gradient 3s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        z-index: 50;

        @apply absolute inset-0
    }


}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.animate-appear {
    animation: animateAppear 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes animateAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

