@tailwind base;
@tailwind components;
@tailwind utilities;

#radix-modal {
    transform-style: preserve-3d;
    position: absolute;
    top: 0;
}


@layer base {
    button {
        cursor: default
    }

    .prose {
        font-size: inherit !important;
        line-height: inherit !important;
        color: inherit !important;
    }

    .prose a {
        @apply font-normal underline decoration-2 decoration-primary/30 hover:decoration-primary/50 text-primary
    }

    h3 {
        @apply text-lg font-semibold leading-6
    }

    :root {
        --font-sans: ui-sans-serif;
        --back: 0 0% 100%;
        --txt: 222.2 47.4% 11.2%;

        --muted: 210 40% 96.1%;
        --muted-txt: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-txt: 222.2 47.4% 11.2%;

        --card: 0 0% 100%;
        --card-txt: 222.2 47.4% 11.2%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-txt: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-txt: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-txt: 222.2 47.4% 11.2%;

        --destructive: 0 94% 65%;
        --destructive-txt: 210 40% 98%;

        --ring: 215 20.2% 65.1%;
        /* cool blue */
        --focus-accent: 207 100% 50%;

        --radius: 0.5rem;
        /* dark red */
        --badge: 0 63% 31%;
        /* white */
        --badge-txt: 0 0% 95%;

        --label-size: inherit;
    }

    /* @media (prefers-color-scheme: dark) {
        body {
            --back: 0 0 51%;
            --txt: 211 21% 76%;

            --muted: 223 47% 11%;
            --muted-txt: 0 0 20%;

            --popover: 224 71% 4%;
            --popover-txt: 215 20.2% 65.1%;

            --card: 0 0% 40%;
            --card-txt: 0 0% 95%;

            --border: 216 34% 17%;
            --input: 216 34% 17%;

            --primary: 210 40% 98%;
            --primary-txt: 222.2 47.4% 1.2%;

            --secondary: 222.2 47.4% 11.2%;
            --secondary-txt: 210 40% 98%;

            --accent: 216 34% 17%;
            --accent-txt: 210 40% 98%;

            --destructive: 0 63% 31%;
            --destructive-txt: 210 40% 98%;

            --ring: 216 34% 17%;

            --radius: 0.5rem;
        }
    } */
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-back text-txt;
        font-feature-settings: "rlig" 1, "calt" 1;
    }

    .icon {
        @apply w-[18.75px] h-[18.75px]
    }
}

@layer utilities {
    .labels-xs label {
        @apply text-xs
    }

    .labels-sm label {
        @apply text-sm
    }

    .labels-md label {
        @apply text-md
    }

    .labels-lg label {
        @apply text-lg
    }

    .labels-xl label {
        @apply text-xl
    }

    .labels-semibold label {
        @apply font-semibold
    }

    .labels-normal label {
        @apply font-normal
    }

    .cursor-drag {
        @apply cursor-grab active:cursor-grabbing
    }

    .icon-gray {
        @apply text-gray-500 hover:text-black focus-ring
    }

    .focus-bg-gray-100 {
        @apply focus-visible:border-none focus-visible:outline-none focus-visible:ring-0 focus-visible:bg-gray-100
    }

    .icon-light-gray {
        @apply text-gray-400 hover:text-black focus-ring cursor-default
    }

    .overlay {

        @apply fixed inset-0 bg-white opacity-40
    }

    .overlay-content {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90vw;
        max-width: 500px;
        max-height: 85vh;
        /* box-shadow order argument order: x y blur spread color

         */
        box-shadow: hsl(206 22% 7% / 20%) 0 10px 95px -10px, hsl(206 22% 7% / 10%) 0 10px 20px -15px;
        animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
    }

    .flex-v {
        @apply flex flex-col
    }

    .text-white a {
        color: white;
        text-decoration-color: rgba(255, 255, 255, 0.7);
    }

    .text-white a:hover {
        color: white;
        text-decoration-color: rgba(255, 255, 255, 1);
    }

    .px-body {
        @apply px-2 sm:px-6
    }

    .py-body {
        @apply py-2 sm:py-6
    }

    .p-body {
        @apply p-2 sm:p-6
    }

    .mx-body {
        @apply mx-2 sm:mx-6
    }

    .my-body {
        @apply my-2 sm:my-6
    }

    .m-body {
        @apply m-2 sm:m-6
    }

    .rotate-4s {
        animation: rotation 4s infinite linear;
    }

    .rotate-3s {
        animation: rotation 3s infinite linear;
    }

    .rotate-2s {
        animation: rotation 2s infinite linear;
    }

}

@layer components {



    .accordion-content[data-state='open'] {
        animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
    .accordion-content[data-state='closed'] {
        animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }
    .accordion-content {
        @apply overflow-hidden p-3
    }
    .accordion-trigger {
        @apply
        px-3 flex h-16 items-center justify-between w-full
         rounded bg-gray-50 hover:bg-gray-100  data-[state=open]:bg-gray-100
    }
    .accordion-trigger .icon {
        transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
    }

    .accordion-trigger[data-state='open'] {

    }
    .accordion-trigger[data-state='open'] .icon {
        transform: rotate(180deg);
    }

    .icon-sm {
        @apply w-[15px] h-[15px]
    }

    .icon-md {
        @apply w-[18.75px] h-[18.75px]
    }

    .icon-lg {
        @apply w-[22.5px] h-[22.5px]
    }

    .icon-xl {
        @apply w-[30px] h-[30px]
    }


    .menu-darken {
        @apply hover:bg-black/5 data-[state=open]:bg-black/5
    }

    .field-label {
        @apply block font-semibold text-base
    }
    .field-wrapper {
        @apply gap-2 flex-v relative
    }

    /* https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/ */
    .auto-size {
        @apply grid
    }

    .auto-size > :not(textarea) {
        @apply whitespace-pre-wrap invisible
    }

    .auto-size > textarea {
        @apply resize-none overflow-hidden
    }

    .auto-size > * {
        grid-area: 1 / 1 / 2 / 2;
    }

    .gap-body {
        @apply sm:gap-6
    }

    .gray-link {
        @apply underline underline-offset-4 hover:text-black px-1
    }

    .form-text {
        @apply
        flex w-full px-3 py-2 placeholder-gray-400
        disabled:cursor-not-allowed disabled:opacity-50
    }

    .form-inline {
        border-width: 0 0 2px 0;

        @apply
        bg-transparent
        p-0
        outline-none focus:outline-none
        rounded-none
        border-transparent
        border-solid

        focus:border-focus-accent

    }

    .focus-ring {
        @apply ring-0 focus-visible:ring focus-visible:ring-2 ring-focus-accent border-none outline-none
    }

    .focus-within-ring {
        @apply
        ring ring-1 ring-gray-300 border-none outline-none
        focus-within:ring-2 focus-within:ring-focus-accent
    }

    .default-ring {
        @apply
        ring ring-1 ring-gray-300 transition-all border-none outline-none
        focus-visible:ring-2 focus-visible:ring-focus-accent
    }
    .default-ring-hover {
        @apply hover:ring-gray-400
    }

    .default-outline {
        @apply
        outline outline-1 outline-gray-300 border-none ring-0
        focus-visible:outline-2 focus-visible:outline-focus-accent
    }

    .default-border {
        @apply border border-gray-300 outline-none ring-0 focus:border-2 focus:border-focus-accent
    }

    .form-inline:focus {
        box-shadow: none;
    }

    .btn {
        @apply
        inline-flex items-center justify-center
        font-medium
        transition-colors disabled:opacity-50 disabled:pointer-events-none
        rounded no-underline
        px-3 py-2 cursor-default

    }

    .btn.btn-lg {
        @apply text-lg px-4 py-3
    }

    .btn.destruct {
        @apply bg-red-600 hover:bg-red-700 text-white
    }

    .btn.thin {
        @apply border border-gray-200 hover:border-gray-300 cursor-default
    }

    .btn-white {
        @apply
        hover:bg-black/5
        focus:bg-black/10
        text-primary/80
        inline-flex items-center justify-center py-1 px-3
        default-ring default-ring-hover
    }

    .btn-primary {
        @apply
        ring-offset-back bg-primary text-primary-txt
        hover:bg-primary/90 focus-visible:bg-primary/90
        disabled:bg-primary active:ring-0
        px-6 py-3
    }

    .btn-darken {
        @apply
        hover:bg-black/10 focus-visible:bg-black/10 focus-visible:outline-none
    }

    .btn-base {
        @apply px-4 py-2
    }

    .btn-transp {
        @apply
        hover:bg-black/10 focus-visible:bg-black/10 focus-visible:outline-none
    }

    input[type=checkbox], input[type=checkbox]:focus {
        box-shadow: none;
        @apply outline-offset-0
    }

    .outline-default {
        @apply
        outline-primary/20
        focus-visible:outline-primary/30
        focus-visible:outline-2
        focus-visible:outline
    }

    .outline-invalid {
        @apply
        outline
        outline-destructive
        outline-2
    }

    .header {
        @apply
        bg-muted border-b border-secondary
        px-body gap-2 flex h-16 p-3 items-stretch text-sm
    }

    .header h3 {
        @apply items-center hidden sm:inline-flex
    }
    .header button, .header .button {
        @apply h-10 px-2 rounded flex items-center menu-darken relative
    }
    .header .icon {
        @apply icon-lg text-gray-400
    }

    .card-grid {
        @apply
        grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5
        gap-body text-card-txt divide-y sm:divide-none
    }

    .loading-bar {
        background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0), rgb(84 157 255), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
        background-size: 200% 100%;
        animation: gradient 3s infinite;
        animation-fill-mode: forwards;
        animation-timing-function: linear;
        z-index: 50;

        @apply absolute
    }


}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes gradient {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: -200% 0;
    }
}

.animate-appear {
    animation: animateAppear 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes animateAppear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes overlayShow {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes contentShow {
    from {
        opacity: 0;
        transform: translate(-50%, -48%) scale(0.96);
    }
    to {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }
}

input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

::-webkit-color-swatch, ::-moz-color-swatch, ::-webkit-color-swatch-wrapper {
    border-color: transparent !important;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-accordion-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-accordion-content-height);
    }
    to {
        height: 0;
    }
}